#app {
    height: 100vh;
    width: 100vw;
    background-color: white;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
}

#navigation{
    width: 60px;
    height: 95vh;
    background-color: black;
    border-radius: 10px;
    margin-right: 50px;
}

#main{
    width: 50vw;   
    height: 95vh;
}